<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>Dashboard</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="../assets/img1/favicon/favicon.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet"/>
  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="../assets/vendor1/fonts/boxicons.css" />
  <!-- Core CSS -->
  <link rel="stylesheet" href="../assets/vendor1/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="../assets/vendor1/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="../assets/css1/demo.css" />
  <!-- Vendors CSS -->
  <link rel="stylesheet" href="../assets/vendor1/libs/perfect-scrollbar/perfect-scrollbar.css" />
  <!-- Page CSS -->
  <!-- Helpers -->
  <script src="../assets/vendor1/js/helpers.js"></script>
  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="../assets/js1/config.js"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->

    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
      <div class="app-brand demo">
        <a th:href="@{/dashboard}" class="app-brand-link">
          <span class="demo menu-text fw-bolder ms-2">Hotel Management<br><center>System</center></span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
          <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
      </div>

      <div class="menu-inner-shadow"></div>

      <!-- Dashboard -->
      <ul class="menu-inner py-1">
        <li class="menu-header small text-uppercase">
          <span class="menu-header-text">Pages</span>
        </li>
        <li class="menu-item">
          <a th:if="${user_details.get(5).equals('1') || user_details.get(5).equals('2') || user_details.get(5).equals('3')}" class="menu-link" th:href="@{/dashboard}">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
          </a>
        </li>

        <li class="menu-item">
          <a th:if="${user_details.get(5).equals('1')}" class="menu-link" th:href="@{/user}">
            <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
            <div data-i18n="Authentications">User Accounts</div>
          </a>
        </li>

        <li class="menu-item">
          <a th:if="${user_details.get(5).equals('3') || user_details.get(5).equals('5')}" class="menu-link" th:href="@{/menu}">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">New Order</div>
          </a>
        </li>

        <li class="menu-item">
          <a th:if="${user_details.get(5).equals('2')}" class="menu-link" th:href="@{/product}">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Food Items</div>
          </a>
        </li>

        <li class="menu-item">
          <a th:if="${user_details.get(5).equals('2')}" class="menu-link" th:href="@{/inventory}">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Food Inventory</div>
          </a>
        </li>


        <li class="menu-item">
          <a th:if="${user_details.get(5).equals('4')}" class="menu-link" th:href="@{/meal}">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Prepare List</div>
          </a>
        </li>

        <li class="menu-item">
          <a th:if="${user_details.get(5).equals('2') || user_details.get(5).equals('3') || user_details.get(5).equals('4') || user_details.get(5).equals('5')}" class="menu-link" th:href="@{/orders}">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Order Status</div>
          </a>
        </li>

        <li class="menu-item">
          <a th:if="${user_details.get(5).equals('3')}" class="menu-link" th:href="@{/payBills}">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Billing</div>
          </a>
        </li>

        <li class="menu-item">
          <a  th:if="${user_details.get(5).equals('3')}" href="javascript:void(0)" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-box"></i>
            <div data-i18n="User interface">Rooms</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a th:if="${user_details.get(5).equals('3')}" class="menu-link" th:href="@{/}">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Booking</div>
              </a>
            </li>
            <li class="menu-item">
              <a th:if="${user_details.get(5).equals('3')}" class="menu-link" th:href="@{/}">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Add Rooms</div>
              </a>
            </li>
            <li class="menu-item">
              <a th:if="${user_details.get(5).equals('3')}" class="menu-link" th:href="@{/}">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Customer Info</div>
              </a>
            </li>
          </ul>
        </li>


      </ul>
    </aside>
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->

      <nav
              class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
              id="layout-navbar"
      >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
          <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
          </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
          <!-- Search -->
          <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
              <i class="bx bx-search fs-4 lh-0"></i>
              <input
                      type="text"
                      class="form-control border-0 shadow-none"
                      placeholder="Search..."
                      aria-label="Search..."
              />
            </div>
          </div>
          <!-- /Search -->

          <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
              <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                <div class="avatar avatar-online">
                  <img src="../assets/img1/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                          <img src="../assets/img1/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <span class="fw-semibold d-block"><p th:text="${user_details.get(2)}"></p></span>
                          <small th:if="${user_details.get(5)} == 1" class="text-muted">Administrator</p></small>
                          <small th:if="${user_details.get(5)} == 2" class="text-muted">Owner</p></small>
                          <small th:if="${user_details.get(5)} == 3" class="text-muted">Receptionist</p></small>
                          <small th:if="${user_details.get(5)} == 4" class="text-muted">Chef</p></small>
                          <small th:if="${user_details.get(5)} == 5" class="text-muted">Waiter</p></small>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/profile}">
                    <i class="bx bx-user me-2"></i>
                    <span class="align-middle">My Profile</span>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/logout}">
                    <i class="bx bx-power-off me-2"></i>
                    <span class="align-middle">Log Out</span>
                  </a>
                </li>
              </ul>
            </li>
            <!--/ User -->
          </ul>
        </div>
      </nav>

      <!-- / Navbar -->

      <!-- Content wrapper -->
      <div class="content-wrapper">
          <!-- Content -->

          <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">
              <div class="col-lg-4 col-md-4 order-1">
                <div class="row">
                  <div th:if="${user_details.get(5).equals('1')}" class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="avatar flex-shrink-0">
                            <img
                                    src="../assets/img1/icons/unicons/chart-success.png"
                                    alt="chart success"
                                    class="rounded"
                            />
                          </div>
                          <div class="dropdown">
                            <button
                                    class="btn p-0"
                                    type="button"
                                    id="cardOpt3"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                            >
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                              <a class="dropdown-item" href="javascript:void(0);">View More</a>
                              <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                            </div>
                          </div>
                        </div>
                        <span class="fw-semibold d-block mb-1">Active Users</span>
                        <h3 th:text="${active_users}" class="card-title mb-2"></h3>
                        <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +72.80%</small>
                      </div>
                    </div>
                  </div>
                  <div th:if="${user_details.get(5).equals('2')}" class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="avatar flex-shrink-0">
                            <img
                                    src="../assets/img1/icons/unicons/wallet-info.png"
                                    alt="Credit Card"
                                    class="rounded"
                            />
                          </div>
                          <div class="dropdown">
                            <button
                                    class="btn p-0"
                                    type="button"
                                    id="cardOpt6"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                            >
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                              <a class="dropdown-item" href="javascript:void(0);">View More</a>
                              <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                            </div>
                          </div>
                        </div>
                        <span class="fw-semibold d-block mb-1">Active Food Items</span>
                        <h3 th:text="${active_products}" class="card-title text-nowrap mb-1"></h3>
                        <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i></small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Total Revenue -->
              <!--/ Total Revenue -->
              <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
                <div class="row">
                  <div class="col-6 mb-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="avatar flex-shrink-0">
                            <img src="../assets/img1/icons/unicons/paypal.png" alt="Credit Card" class="rounded" />
                          </div>
                          <div class="dropdown">
                            <button
                                    class="btn p-0"
                                    type="button"
                                    id="cardOpt4"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                            >
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt4">
                              <a class="dropdown-item" href="javascript:void(0);">View More</a>
                              <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                            </div>
                          </div>
                        </div>
                        <span class="d-block mb-1">Payments</span>
                        <h3 class="card-title text-nowrap mb-2">$2,456</h3>
                        <small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i> -14.82%</small>
                      </div>
                    </div>
                  </div>
                  <div th:if="${user_details.get(5).equals('2')}" class="col-6 mb-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="avatar flex-shrink-0">
                            <img src="../assets/img1/icons/unicons/cc-primary.png" alt="Credit Card" class="rounded" />
                          </div>
                          <div class="dropdown">
                            <button
                                    class="btn p-0"
                                    type="button"
                                    id="cardOpt1"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                            >
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="cardOpt1">
                              <a class="dropdown-item" href="javascript:void(0);">View More</a>
                              <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                            </div>
                          </div>
                        </div>
                        <span class="fw-semibold d-block mb-1">Total Income</span>
                        <h3 th:text="${transaction}" class="card-title mb-2"></h3>
                        <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.14%</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<!--            <div class="row">-->
<!--              &lt;!&ndash; Order Statistics &ndash;&gt;-->
<!--              <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">-->
<!--                <div class="card h-100">-->
<!--                  <div class="card-header d-flex align-items-center justify-content-between pb-0">-->
<!--                    <div class="card-title mb-0">-->
<!--                      <h5 class="m-0 me-2">Order Statistics</h5>-->
<!--                      <small class="text-muted">42.82k Total Sales</small>-->
<!--                    </div>-->
<!--                    <div class="dropdown">-->
<!--                      <button-->
<!--                              class="btn p-0"-->
<!--                              type="button"-->
<!--                              id="orederStatistics"-->
<!--                              data-bs-toggle="dropdown"-->
<!--                              aria-haspopup="true"-->
<!--                              aria-expanded="false"-->
<!--                      >-->
<!--                        <i class="bx bx-dots-vertical-rounded"></i>-->
<!--                      </button>-->
<!--                      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">-->
<!--                        <a class="dropdown-item" href="javascript:void(0);">Select All</a>-->
<!--                        <a class="dropdown-item" href="javascript:void(0);">Refresh</a>-->
<!--                        <a class="dropdown-item" href="javascript:void(0);">Share</a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="card-body">-->
<!--                    <div class="d-flex justify-content-between align-items-center mb-3">-->
<!--                      <div class="d-flex flex-column align-items-center gap-1">-->
<!--                        <h2 class="mb-2">8,258</h2>-->
<!--                        <span>Total Orders</span>-->
<!--                      </div>-->
<!--                      <div id="orderStatisticsChart"></div>-->
<!--                    </div>-->
<!--                    <ul class="p-0 m-0">-->
<!--                      <li class="d-flex mb-4 pb-1">-->
<!--                        <div class="avatar flex-shrink-0 me-3">-->
<!--                            <span class="avatar-initial rounded bg-label-primary"-->
<!--                            ><i class="bx bx-mobile-alt"></i-->
<!--                            ></span>-->
<!--                        </div>-->
<!--                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">-->
<!--                          <div class="me-2">-->
<!--                            <h6 class="mb-0">Electronic</h6>-->
<!--                            <small class="text-muted">Mobile, Earbuds, TV</small>-->
<!--                          </div>-->
<!--                          <div class="user-progress">-->
<!--                            <small class="fw-semibold">82.5k</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                      <li class="d-flex mb-4 pb-1">-->
<!--                        <div class="avatar flex-shrink-0 me-3">-->
<!--                          <span class="avatar-initial rounded bg-label-success"><i class="bx bx-closet"></i></span>-->
<!--                        </div>-->
<!--                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">-->
<!--                          <div class="me-2">-->
<!--                            <h6 class="mb-0">Fashion</h6>-->
<!--                            <small class="text-muted">T-shirt, Jeans, Shoes</small>-->
<!--                          </div>-->
<!--                          <div class="user-progress">-->
<!--                            <small class="fw-semibold">23.8k</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                      <li class="d-flex mb-4 pb-1">-->
<!--                        <div class="avatar flex-shrink-0 me-3">-->
<!--                          <span class="avatar-initial rounded bg-label-info"><i class="bx bx-home-alt"></i></span>-->
<!--                        </div>-->
<!--                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">-->
<!--                          <div class="me-2">-->
<!--                            <h6 class="mb-0">Decor</h6>-->
<!--                            <small class="text-muted">Fine Art, Dining</small>-->
<!--                          </div>-->
<!--                          <div class="user-progress">-->
<!--                            <small class="fw-semibold">849k</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                      <li class="d-flex">-->
<!--                        <div class="avatar flex-shrink-0 me-3">-->
<!--                            <span class="avatar-initial rounded bg-label-secondary"-->
<!--                            ><i class="bx bx-football"></i-->
<!--                            ></span>-->
<!--                        </div>-->
<!--                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">-->
<!--                          <div class="me-2">-->
<!--                            <h6 class="mb-0">Sports</h6>-->
<!--                            <small class="text-muted">Football, Cricket Kit</small>-->
<!--                          </div>-->
<!--                          <div class="user-progress">-->
<!--                            <small class="fw-semibold">99</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash;/ Order Statistics &ndash;&gt;-->

<!--              &lt;!&ndash; Expense Overview &ndash;&gt;-->
<!--              <div class="col-md-6 col-lg-4 order-1 mb-4">-->
<!--                <div class="card h-100">-->
<!--                  <div class="card-header">-->
<!--                    <ul class="nav nav-pills" role="tablist">-->
<!--                      <li class="nav-item">-->
<!--                        <button-->
<!--                                type="button"-->
<!--                                class="nav-link active"-->
<!--                                role="tab"-->
<!--                                data-bs-toggle="tab"-->
<!--                                data-bs-target="#navs-tabs-line-card-income"-->
<!--                                aria-controls="navs-tabs-line-card-income"-->
<!--                                aria-selected="true"-->
<!--                        >-->
<!--                          Income-->
<!--                        </button>-->
<!--                      </li>-->
<!--                      <li class="nav-item">-->
<!--                        <button type="button" class="nav-link" role="tab">Expenses</button>-->
<!--                      </li>-->
<!--                      <li class="nav-item">-->
<!--                        <button type="button" class="nav-link" role="tab">Profit</button>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                  <div class="card-body px-0">-->
<!--                    <div class="tab-content p-0">-->
<!--                      <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">-->
<!--                        <div class="d-flex p-4 pt-3">-->
<!--                          <div class="avatar flex-shrink-0 me-3">-->
<!--                            <img src="../assets/img1/icons/unicons/wallet.png" alt="User" />-->
<!--                          </div>-->
<!--                          <div>-->
<!--                            <small class="text-muted d-block">Total Balance</small>-->
<!--                            <div class="d-flex align-items-center">-->
<!--                              <h6 class="mb-0 me-1">$459.10</h6>-->
<!--                              <small class="text-success fw-semibold">-->
<!--                                <i class="bx bx-chevron-up"></i>-->
<!--                                42.9%-->
<!--                              </small>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div id="incomeChart"></div>-->
<!--                        <div class="d-flex justify-content-center pt-4 gap-2">-->
<!--                          <div class="flex-shrink-0">-->
<!--                            <div id="expensesOfWeek"></div>-->
<!--                          </div>-->
<!--                          <div>-->
<!--                            <p class="mb-n1 mt-1">Expenses This Week</p>-->
<!--                            <small class="text-muted">$39 less than last week</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash;/ Expense Overview &ndash;&gt;-->

<!--              &lt;!&ndash; Transactions &ndash;&gt;-->
<!--              <div class="col-md-6 col-lg-4 order-2 mb-4">-->
<!--                <div class="card h-100">-->
<!--                  <div class="card-header d-flex align-items-center justify-content-between">-->
<!--                    <h5 class="card-title m-0 me-2">Transactions</h5>-->
<!--                    <div class="dropdown">-->
<!--                      <button-->
<!--                              class="btn p-0"-->
<!--                              type="button"-->
<!--                              id="transactionID"-->
<!--                              data-bs-toggle="dropdown"-->
<!--                              aria-haspopup="true"-->
<!--                              aria-expanded="false"-->
<!--                      >-->
<!--                        <i class="bx bx-dots-vertical-rounded"></i>-->
<!--                      </button>-->
<!--                      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">-->
<!--                        <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>-->
<!--                        <a class="dropdown-item" href="javascript:void(0);">Last Month</a>-->
<!--                        <a class="dropdown-item" href="javascript:void(0);">Last Year</a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="card-body">-->
<!--                    <ul class="p-0 m-0">-->
<!--                      <li class="d-flex mb-4 pb-1">-->
<!--                        <div class="avatar flex-shrink-0 me-3">-->
<!--                          <img src="../assets/img1/icons/unicons/paypal.png" alt="User" class="rounded" />-->
<!--                        </div>-->
<!--                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">-->
<!--                          <div class="me-2">-->
<!--                            <small class="text-muted d-block mb-1">Paypal</small>-->
<!--                            <h6 class="mb-0">Send money</h6>-->
<!--                          </div>-->
<!--                          <div class="user-progress d-flex align-items-center gap-1">-->
<!--                            <h6 class="mb-0">+82.6</h6>-->
<!--                            <span class="text-muted">USD</span>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                      <li class="d-flex mb-4 pb-1">-->
<!--                        <div class="avatar flex-shrink-0 me-3">-->
<!--                          <img src="../assets/img1/icons/unicons/wallet.png" alt="User" class="rounded" />-->
<!--                        </div>-->
<!--                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">-->
<!--                          <div class="me-2">-->
<!--                            <small class="text-muted d-block mb-1">Wallet</small>-->
<!--                            <h6 class="mb-0">Mac'D</h6>-->
<!--                          </div>-->
<!--                          <div class="user-progress d-flex align-items-center gap-1">-->
<!--                            <h6 class="mb-0">+270.69</h6>-->
<!--                            <span class="text-muted">USD</span>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                      <li class="d-flex mb-4 pb-1">-->
<!--                        <div class="avatar flex-shrink-0 me-3">-->
<!--                          <img src="../assets/img1/icons/unicons/chart.png" alt="User" class="rounded" />-->
<!--                        </div>-->
<!--                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">-->
<!--                          <div class="me-2">-->
<!--                            <small class="text-muted d-block mb-1">Transfer</small>-->
<!--                            <h6 class="mb-0">Refund</h6>-->
<!--                          </div>-->
<!--                          <div class="user-progress d-flex align-items-center gap-1">-->
<!--                            <h6 class="mb-0">+637.91</h6>-->
<!--                            <span class="text-muted">USD</span>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                      <li class="d-flex mb-4 pb-1">-->
<!--                        <div class="avatar flex-shrink-0 me-3">-->
<!--                          <img src="../assets/img1/icons/unicons/cc-success.png" alt="User" class="rounded" />-->
<!--                        </div>-->
<!--                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">-->
<!--                          <div class="me-2">-->
<!--                            <small class="text-muted d-block mb-1">Credit Card</small>-->
<!--                            <h6 class="mb-0">Ordered Food</h6>-->
<!--                          </div>-->
<!--                          <div class="user-progress d-flex align-items-center gap-1">-->
<!--                            <h6 class="mb-0">-838.71</h6>-->
<!--                            <span class="text-muted">USD</span>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                      <li class="d-flex mb-4 pb-1">-->
<!--                        <div class="avatar flex-shrink-0 me-3">-->
<!--                          <img src="../assets/img1/icons/unicons/wallet.png" alt="User" class="rounded" />-->
<!--                        </div>-->
<!--                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">-->
<!--                          <div class="me-2">-->
<!--                            <small class="text-muted d-block mb-1">Wallet</small>-->
<!--                            <h6 class="mb-0">Starbucks</h6>-->
<!--                          </div>-->
<!--                          <div class="user-progress d-flex align-items-center gap-1">-->
<!--                            <h6 class="mb-0">+203.33</h6>-->
<!--                            <span class="text-muted">USD</span>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                      <li class="d-flex">-->
<!--                        <div class="avatar flex-shrink-0 me-3">-->
<!--                          <img src="../assets/img1/icons/unicons/cc-warning.png" alt="User" class="rounded" />-->
<!--                        </div>-->
<!--                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">-->
<!--                          <div class="me-2">-->
<!--                            <small class="text-muted d-block mb-1">Mastercard</small>-->
<!--                            <h6 class="mb-0">Ordered Food</h6>-->
<!--                          </div>-->
<!--                          <div class="user-progress d-flex align-items-center gap-1">-->
<!--                            <h6 class="mb-0">-92.45</h6>-->
<!--                            <span class="text-muted">USD</span>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash;/ Transactions &ndash;&gt;-->
<!--            </div>-->
          </div>
          <!-- / Content -->


          <div class="content-backdrop fade"></div>
        </div>

        <!-- Footer -->
        <footer class="content-footer footer bg-footer-theme">
          <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
            <div class="mb-2 mb-md-0">
              ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              <a href="" target="_blank" class="footer-link fw-bolder"></a>
            </div>
          </div>
        </footer>
        <!-- / Footer -->

        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="../assets/vendor1/libs/jquery/jquery.js"></script>
<script src="../assets/vendor1/libs/popper/popper.js"></script>
<script src="../assets/vendor1/js/bootstrap.js"></script>
<script src="../assets/vendor1/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="../assets/vendor1/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script src="../assets/js1/main.js"></script>

<!-- Page JS -->

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
