<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>Login</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="../assets/img1/favicon/favicon.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet"/>

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="../assets/vendor1/fonts/boxicons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="../assets/vendor1/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="../assets/vendor1/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="../assets/css1/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="../assets/vendor1/libs/perfect-scrollbar/perfect-scrollbar.css" />

  <!-- Page CSS -->
  <!-- Page -->
  <link rel="stylesheet" href="../assets/vendor1/css/pages/page-auth.css" />
  <!-- Helpers -->
  <script src="../assets/vendor1/js/helpers.js"></script>

  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="../assets/js1/config.js"></script>
</head>
<body>
<!-- Content -->

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="index.html" class="app-brand-link gap-2"><h3>
              <span class="fw-bolder">Hotel Management<br><center>System</center></span></h3>
            </a>
          </div>

          <form  th:action="@{/loginAccount}" method="post">
            <div th:if="${param.login_error}" class="alert text-danger text-center">
              Invalid user information please try again!.
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Username</label>
              <input
                      type="text"
                      class="form-control"
                      id="email"
                      name="username"
                      placeholder="Enter your username"
                      required
              />
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Password</label>

              </div>
              <div class="input-group input-group-merge">
                <input
                        type="password"
                        id="password"
                        class="form-control"
                        name="pwd"
                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                        aria-describedby="password"
                        required
                />
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
              <div class="error-message"></div>
            </div>
            <div class="mb-3">

            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">Login</button>
            </div>
          </form>

          <p class="text-center">
            <span>Contact system admin for account problems</span>
            <a href="auth-register-basic.html">
              <span>Contact</span>
            </a>
          </p>
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>
<!-- / Content -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="../assets/vendor1/libs/jquery/jquery.js"></script>
<script src="../assets/vendor1/libs/popper/popper.js"></script>
<script src="../assets/vendor1/js/bootstrap.js"></script>
<script src="../assets/vendor1/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="../assets/vendor1/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script src="../assets/js1/main.js"></script>

<!-- Page JS -->

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>


</html>
